.app {
  max-width: 800px;
  margin-inline: auto;
}

article {
  border: 1px solid gray;
  padding: 0.5em;
  margin-block: 1em;
}

article h2 {
  margin-bottom: 0.25em;
}

article h2::first-letter {
  text-transform: uppercase;
}

article .by {
  display: block;
  margin-bottom: 1em;
  font-size: 0.8em;
}

article p {
  margin-bottom: 1em;
}

article p::first-letter {
  text-transform: uppercase;
}

article .votes {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

article .votes button {
  padding: 0.25em;
  cursor: pointer;
}
